
#main{
  box-sizing: border-box;
  padding: 0 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: column nowrap;
}

#main-header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  line-height: 100%;
  margin: 1rem;
  color: #434A52;
  svg{
    margin-left: 30px;
  }
}

.chat-label{
  font-size: 1.5rem
}

#chat-wrap{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  align-items: stretch;
}