#chatBox{
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.chat-box-header{
  font-weight: bold;
  height: 40px;
  margin-bottom: 10px;
  flex-shrink: 0;
  p:nth-child(2){
    font-size: 12px;
  }
}

.chat-message-wrap{
  border-top: 1px solid rgb(226, 226, 226);
  flex-grow: 1;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1em;
    height: 5px;
    background-color: grey;
  }
}


.chat-message{
  margin: 10px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  .chat-message-item{
    background-color: #E7E5EA;
    max-width: 85%;
    display: inline-block;
    color: black;
    border-radius: 30px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 15px;
    word-wrap: break-word;
    white-space: normal;
    word-break:break-all;  
  }
}

.chat-message-user{
  text-align: center;
  font-size: 12px;
}

.chat-message-avatar{
  width: 50px;
  height: 50px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.chat-input-panel{
  input{
    border-radius: 2px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    flex-shrink: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }
}
